[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Photoscape
Exec=photoscape %F
Icon=${SNAP}/meta/gui/photoscape.png
Terminal=false
StartupNotify=true
StartupWMClass=PhotoScape.exe
