[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PhotoScape
Categories=Graphics
Exec=photoscape %F
Icon=${SNAP}/meta/gui/photoscape.png
Terminal=false
StartupNotify=true
StartupWMClass=PhotoScape.exe
